@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 0;
}

.wrapper {
  width: 1300px;
  margin: 0 auto;
}

.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #060606;
  margin-bottom: 26px;
}

.core_team_main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 60px;
  row-gap: 50px;
}

.linkedIn_img {
  position: absolute;
  top: 53%;
  right: -7%;
  width: 38px;
}

.linkedIn_img img {
  width: 100%;
  border-radius: 50%;
  background-color: #ffffff;
}

.team_member {
  position: relative;
  width: 165px;
  margin: 0 auto;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 25px;
  border-radius: 50%;
}

.team_member img {
  display: block;
  width: 100%;
}

.member_name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #094e8f;
  margin-bottom: 5px;
}

.designation {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #060606;
}

@media (max-width: 1140px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .core_team_main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 40px;
    column-gap: 70px;
  }

  .core-team {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 790px) {
  .core_team_main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 35px;
  }
}

@media (max-width: 520px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #060606;
    margin-bottom: 15px;
  }

  .core_team_main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
  .team_member {
    margin-bottom: 10px;
  }
}
